<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Godmademe</title>
</head>
<body>
    <h5>신이 나를 만들 때</h5>
    <h1>신이 {{name}}을(를) 만들 때</h1>
    <table style="width: 800px;">
        <tr>
            <td></td>
            <td style="background-color: black;"><h3 style="color: white;"><b style="color: red;">신</b>이 <b style="color: red;">나</b>를 만들 때</h3></td>
            <td></td>
        </tr>
        <tr style="height: 100px; font-size: xx-large;">
            <td>{{feature_list[0]}}은 별로 필요없어 보이니 넣지 말고</td>
            <td><b style="color: green;">{{feature_list[1]}}</b>을 {{number1}}스푼 넣어주자</td>
            <td>마지막으로 <b style="color: red;">{{feature_list[2]}}</b>을 {{number2}}컵 넣어주면 되겠군</td>
        </tr>
    </table>

</body>
</html>