<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>신이 나를 만들때</h1>
    <form action="/godmademe">
        <div>
            <input type="text" name="name" placeholder="이름을 입력해주세요"><br>
        </div>
        <p style="color: lightgray;">입력하신 정보는 본 퀴즈 이외의 용도로 사용하지 않습니다.</p>
        <div>
            <input type="submit" value="시작하기→" style="shape-outside: border-box;">
        </div>
    </form>
</body>
</html>